NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=

NEXT_PUBLIC_SUPABASE_URL=https://rtuskwgjeykhwlodcowv.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_cSi2Juxc2Pca0sZRfYQn1A_OxkzGFBY

NEXT_PUBLIC_ZALO_MINI_APP_ID=

N8N_WEBHOOK_URL=
N8N_WEBHOOK_SECRET=
